@import "reset.less";
@import "mixin.less";

@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
    url('../fonts/leaguegothic-regular-webfont.svg') format('svg');
}

@top-bar-text-color: white;

@semibold: 700;

body {
    font-family: "MyWebFont", Times, serif;
    letter-spacing: 1.5px;
}

.lc-wrapper, .sc-wrapper {
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.sc-wrapper {
    position: relative;
}

.top-bar {
    overflow: hidden;
    background: #004B8E;
}

.site-logo {
    padding: 10px 0;
    float: left;
}

.top-menu {
    float: right;
}

.top-nav-links, .search, .profile {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

.search {
    width: 15px;
    height: 14px;
    background: url("../img/Core/desctop/icon-search.png") no-repeat;
}

.profile {
    color: @top-bar-text-color;

    &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 5px 0 5px;
        border-color: @top-bar-text-color transparent transparent transparent;
        display: inline-block;
    }
}

.top-nav-links {
    li {
        list-style: none;
        display: inline;
    }
}

.nav-link {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: @top-bar-text-color;
}

.nav-link:hover {
    transition: 0.5s;
    color: lighten(#034A8E, 50%);
}

.nav-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;

    li {
        list-style: none;

        span {
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.nav-item {
    background: white;
    width: 14%;
    border-left: 1px solid #CCC;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &:last-child {
        border-right: 1px solid #CCC;
    }

    &.date,
    &.travelers,
    &.duration {
        width: 11.5%;
    }

    &.from,
    &.to {
        width: 18%;
    }

    &.logo {
        .nav-item-value {
            margin: auto;
            cursor: pointer;

            img {
                width: 150%;
                height: 150%;
            }
        }
    }

    &.leita {
        .nav-item-title {
            display: inline-block;
            margin: auto;

            width: 90%;
            color: white;
            font-size: 42px;

            background: #034A8E;
            cursor: pointer;
        }
    }
}

.mySlides {
    width: 100%;
    display: none;
}

.nav-item-title {
    font-family: "MyWebFont", Times, serif;
    color: #034A8E;
    font-size: 15px;
}

.nav-item-value {
    font-size: 24px;
    font-weight: @semibold;

    display: flex;
    justify-content: center;
    flex-direction: row;

    img {
        height: 30px;
        margin: auto 0;
    }
}

.value-description {
    font-family: "MyWebFont", Times, serif;
    color: #034A8E;
    margin-left: 5px;
    font-size: 30px;
}

.nav-item-control:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: blue transparent transparent transparent;
    display: inline-block;
    cursor: pointer;
}

.slide-buttons-container {
    position: absolute;
    bottom: 24px;
    right: 10px;
}

.button-left, .button-right, .badge, .badge-active {
    display: inline-block;     
    cursor: pointer;
}

.button-left, .button-right {
    position: absolute;
    color: white;
    width: 200px;
    font-size: 48px;
    top: 0;    
    padding: 25% 1%;
    transform: translate(0, -24px);
    opacity: 0;
    transition: 1s;
}

.button-left {
    text-align: left;
    left: 0;
}

.button-right {
    text-align: right;
    right: 0;
}

.button-left:hover, .button-right:hover {
    opacity: 1;
    transition: 1s;
}

.badge, .badge-active {
    .border-radius(7px);
    border: 1px solid white;
    height:14px;
    width:14px;
}

.badge:hover {
    border: 2px solid white;
}

.badge-active {
    background: white;
    border: 2px solid white;
}

.info-container {
    display: inline-block;
    position: absolute;
    height: 99%;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}

.info-wrapper {
    position: relative;
    height: 100%;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
}

.info-header, .info-text, .info-button {
    display: block;
    text-align: center;
    margin-top: 10px;
}

h2, h3, .info-button {
    line-height: 1.1;
    color: white;
}

h2 {
    font-weight: @semibold;
    font-size: 72px;

    @media screen and (max-width: 768px) {
        font-size: 24px;
    }
}

h3 {
    font-size: 36px;
    font-weight: 100;

    @media screen and (max-width: 768px) {
        font-size: 12px;
    }
}

.info-button {
    text-align: center;
    padding: 1%;
    margin: 10px 30%;
    background: rgba(0, 0, 0, 0.7);
    font-weight: @semibold;
    font-size: 15px;
    cursor: pointer;
    .border-radius(20px);

    @media screen and (max-width: 768px) {
        font-size: 10px;
    }
}